
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form id="createForm" class="row g-3" method="post" action="Auctions/Create/">
    <div class="col-md-4">
        <label for="formGroupExampleInput" class="form-label">Title</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter a title" name="Title" />

        <label for="formGroupExampleInput" class="form-label">Description</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter a Description" name="Description" />

        <label for="formGroupExampleInput" class="form-label">ActualAmount</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter a Amount" name="ActualAmount" />

        <label for="formGroupExampleInput" class="form-label">StartingTime</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter a StartingTime" name="StartingTime" />

        <label for="formGroupExampleInput" class="form-label">EndTime</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter a EndTime" name="EndTime" />

        <br />
        <button id="saveButton" class="btn btn-success" type="button">Save</button>
</div>
</form>

<script>
    $("#saveButton").click(function () {
        $.ajax({
            url: "/Auctions/Create",
            method: "post",
            data: $("#createForm").serialize()
        })
            .done(function (response) {
                debugger;
                $("#listingArea").html(response);
            })
        .fail(function () { });
      });
</script>