
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form id = "createForm" method="post" action="Auctions/Create/">
    <label>Title</label>
    <input name="Title" />
    <br />

    <label>Description</label>
    <input name="Description" />
    <br />

    <label>ActualAmount</label>
    <input name="ActualAmount"/>
    <br />

    <label>StartingTime</label>
    <input name="StartingTime"/>
    <br />

    <label>EndTime</label>
    <input name="EndTime"/>
    <br />

    <button id="saveButton" type="button">Save</button>
</form>

<script>
    $("#saveButton").click(function () {
        $.ajax({
            url: "/Auctions/Create",
            method: "post",
            data: $("#createForm").serialize()
        })
            .done(function (response) {
                debugger;
                $("#listingArea").html(response);
            })
        .fail(function () { });
      });
</script>